$active = gold
$text_color = white

html
  background-image: url('../images/background.jpg')
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center bottom;
  background-attachment: fixed
  &::-webkit-scrollbar
    width 7px
  &::-webkit-scrollbar-thumb
    background-color $active
  &::-webkit-scrollbar-track
    background-color $text_color
  #front-background
    background-image: url('../images/background-front.png')
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center bottom;
    position fixed
    top 0
    left 0


  #body
    position relative
    z-index 100
    .main-header
      font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
      color: #fff;
      text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
      text-align: center;
      padding-top: 75px;
      font-size 90px
      margin-bottom 20px

    #navigation
      text-align center
      > a
        color white
        margin 0 10px;
        &:hover
          color $active
        &.active
          color $active

    #routes
      position: relative;
      z-index: 10;
      color: white;
      max-width: 800px;
      margin: 0 auto;
      margin-top: 60px;
      [data-route]
        background rgba(0,0,0,.7)
      a
        color gold
      [data-route= "/story"]
        padding 10px
        h1
          text-align center
          color $active
          font 400 48px/0.8 'Cookie', Helvetica, sans-serif
          margin 0
          padding 15px
        img
          max-width: 190px;
          &.left
            padding-right 10px
            float left
          &.center
            display: block;
            margin: 20px auto;

      [data-route = "/rsvp"]
        iframe
          width 800px
          height 1790px
          max-width 100%
      [data-route = "/accomodations"]
        p
          padding 10px
        iframe, img
          display block
          width 100%

      [data-route = "/wedding-location"]
        background none
        .section
          background rgba(0,0,0,.7)
          margin-bottom 20px
          padding 10px
          box-sizing border-box
        h1
          margin-top 0px
        p
          margin-bottom 10px
        iframe
          width 100%


@media (max-width: 800px)
  html #body .main-header
    font-size: 50px;
    margin-bottom: 30px;
